.ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
}

.title {
    font-size: 24px;
    color: #2c7da0;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 700;
    text-decoration: none;
}

.title:hover {
    color: #0074a1;
    background: #e2e8f0;
    transition: 0.2s ease;
    border-radius: 4px;
    padding: 4px 8px;
}

.divider {
    border: none;
    height: 24px;
    background-image: url("/separador.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 32px 0;
}